<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content=">Total Addressable Market or Total Accessible Market is an estimate of the revenue opportunity derived from 
    your product">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <title>Data Cleansing : Credible, Correct, Complete and Consistent</title>
    <link rel="shortcut icon" type="image/jpg" href="pics/favicon.jpg"/>
    <link rel="apple-touch-icon" sizes="180x180" href="pics/favicon.jpg">
  </head>

  <body>
    <div class="parallax">
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
                  <div class="container-fluid navbar-container">
                      <a class="navbar-brand" href="/#title">InfoIntellect</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNavDropdown">
                          <ul class="navbar-nav">
                            <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="/#title">Home</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active" href="/aboutUs">About Us</a>
                            </li>
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Services
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="/#services">What We Offer</a></li>
                                <li><a class="dropdown-item" href="/technographics">Technographics</a></li>
                                <li><a class="dropdown-item" href="/icp">Ideal Customer Profiling</a></li>
                                <li><a class="dropdown-item" href="/competitive-intelligence">Competitive Intelligence</a></li>
                                <li><a class="dropdown-item" href="/tam">Total Addressable Market</a></li>
                                <!-- <li><a class="dropdown-item" href="/hi">Healthcare Data Intelligence</a></li> -->
                                <li><a class="dropdown-item" href="/abm">Account Based Marketing</a></li>
                                <li><a class="dropdown-item" href="/ddm">Data Driven Marketing</a></li>
                                <li><a class="dropdown-item" href="/dc">Data Cleansing</a></li>
                              </ul>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active" href="#">Resources</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active" href="/contact">Contact</a>
                            </li>
                          </ul>
                      </div>
                  </div>
            </nav>


<div class="dc-page-background text-center align-items-center">
</div>

<section id="contact">
  <div class="container-fluid">
      <h1 class="title-headings fade-in">Data Cleansing</h1>
      <h2 class="title-subheading fade-in" >Credible, Correct, Complete, and Consistent</h2>

      <div class="row">
        <div class="col-lg-12 contact-side align-items-center text-center fade-in">
            <p class="contact-para"><span class="color-highlight-light">Clear data</span> is synonymous to clear direction. Your database, owing to your expanding coverage of potential and
                 existing clients, is a warehouse of data. Cleansing ensures that this data is available for accurate, precise and <span class="color-highlight-light">instant 
                 strategies</span> without having your team wade through outdated or corrupt files and entries, only to find an error in it. <br><br>
                 Contrary to the popular belief, data cleansing is not just the cessation of dirty or coarse data, but the modification, 
                 replacement or deletion of corrupt, inaccurate and redundant parts occupying a database.<br><br>
                 We help you <span class="color-highlight-light">dust off your warehouse</span> through the following concepts :
                </p>

                <div class="row">
                    <div class="col-lg-6 features-item from-down slide-in">
                      <div class=" f-card">
                        <div class="row ">
                          <div class="col-lg-12">
                            <h3 class="features-medium-heading">Removal of Unwanted Data</h3>
                            <p>Duplicate and irrelevant data</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6 features-item from-down slide-in">
                        <div class=" f-card">
                          <div class="row ">
                            <div class="col-lg-12">
                              <h3 class="features-medium-heading">Validate </h3>
                              <p>Reviewing and reassessing the data </p>
                            </div>
                          </div>
                        </div>
                      </div>
            
                    <div class="col-lg-6 features-item from-down slide-in">
                        <div class=" f-card">
                          <div class="row ">
                            <div class="col-lg-12">
                              <h3 class="features-medium-heading">Removing Outliers</h3>
                              <p>Improper data-entry, unrelated or inaccurate outliers</p>
                            </div>
                          </div>
                        </div>
                      </div>
            
                    <div class="col-lg-6 features-item from-down slide-in">
                        <div class=" f-card">
                          <div class="row ">
                            <div class="col-lg-12">
                              <h3 class="features-medium-heading">Handle Missing Data</h3>
                              <p>Avoiding gaps in information flow</p>
                            </div>
                          </div>
                        </div>
                      </div>
            
                      <div class="col-lg-3"></div>
                      
                        <div class="col-lg-6 features-item from-down slide-in">
                            <div class=" f-card">
                            <div class="row ">
                                <div class="col-lg-12">
                                <h3 class="features-medium-heading">Fixing Structural Errors </h3>
                                <p>Typos, naming inconsistencies, incorrect punctuation and parsing</p>
                                </div>
                            </div>
                            </div>
                        </div>
                    
                      <div class="col-lg-3"></div>
            
                  </div>

                  <p><br><br></p>
        </div>
        <span class="color-highlight-light"> </span>
      </div>

      <div class="row">
        <h2 class="title-subheading fade-in">How does it affect overall productivity?</h2>

        <div class="col-lg-6 features-item from-down slide-in">
          <div class=" f-card">
            <div class="row ">
              <div class="col-lg-12">
                <h3 class="features-medium-heading">A Cleaner database</h3>
                <p>Decrease data processing time by eliminating redundant entries and pulling relevant data effectively. </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 features-item from-down slide-in">
            <div class=" f-card">
              <div class="row ">
                <div class="col-lg-12">
                  <h3 class="features-medium-heading">Increase Productively</h3>
                  <p>Allow your sales team to effectively utilize their resources instead of trying to contact outdated leads.</p>
                </div>
              </div>
            </div>
          </div>
        
        <div class="col-lg-6 features-item from-down slide-in">
            <div class=" f-card">
              <div class="row ">
                <div class="col-lg-12">
                  <h3 class="features-medium-heading">Decision Making</h3>
                  <p>Data cleansing and enrichment leads to better analytics, critical in supporting greater business intelligence, 
                     resulting in amplified sales.</p>
                </div>
              </div>
            </div>
          </div>

        <div class="col-lg-6 features-item from-down slide-in">
            <div class=" f-card">
              <div class="row ">
                <div class="col-lg-12">
                  <h3 class="features-medium-heading">Targeting Customers</h3>
                  <p>Accurate data highlighting targeted clients facilitates effective lead generation. This revised information aids in 
                      formulating a suitable plan of action</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3"></div>
          <div class="col-lg-6 features-item from-down slide-in">
            <div class=" f-card">
              <div class="row ">
                <div class="col-lg-12">
                  <h3 class="features-medium-heading">Streamline Business Processes</h3>
                  <p>Cleansing is essential for Data Driven Marketing to work adequately. Eliminating duplicates and dirty data saves time 
                     and directs business processes in a labour-saving way.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3"></div>

      </div>

      <div class="row fade-in">
        <p class="contact-para">At InfoIntellect, we understand that your business, regardless of its size and specifications, needs maintenance 
            in a hassle-free manner to help you deliver your goal. Collecting data associated with the business is only the beginning, cleansing 
            and staying up to date is what makes your dataset robust, trustworthy and ready to use.</p>

        <h2 class="title-headings">Maintain your Data Better, Connect With Us</h2>
        <div class="col-lg-12">
          <form action="/contact" method="post">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Name" name="name" required>
            </div>

            <div class="form-group" action="">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" name="email" required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
              <label for="number">Contact No.</label>
              <input type="text" class="form-control" id="number" placeholder="Contact" name="contact" required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your contact with anyone else.</small>
            </div>

            <div class="form-button">
              <button type="submit" class="btn btn-light contact-btn">Submit</button>
            </div>

          </form>
        </div>

      </div>

  </div>
</section>

<%- include("partials/footer")-%>
